<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Diagram Viewer</title>
  <!-- Include Bootstrap CSS -->
<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
  <style>
      /* Define some custom styles for the left and right sections */
      #left-section {
        padding: 20px;
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 5px;
      }
      #right-section {
        padding: 20px;
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 5px;
      }
      /* Define some styles for the diagram image */
      img {
        max-width: 100%;
        height: auto;
      }
    </style>
<!--  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
</head>
<body>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <!-- Left section -->
      <div id="left-section">
        <h4>Diagrams</h4>
        <hr>
        <ul class="list-group">
          <!-- Loop through the diagrams list and create a link for each diagram -->
          <li class="list-group-item" th:each="model: ${models}">
            <a href="#" th:onclick="showDiagram([[${model.diagram}]])" th:text="${model.name}"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <!-- Right section -->
      <div id="right-section">
        <div  id="diagram-image"></div>
      </div>
    </div>
  </div>
</div>

<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<script>
      function showDiagram(content) {
        document.getElementById("diagram-image").innerHTML=content;
      }
    </script>
</body>
</html>